<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ui.css">
    <title>YeolYi</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/ui.js"></script>
</head>

<body>
    <header>
    <a href="/" id="yeolyi-logo">YeolYi</a>
    <nav>
        <a href="/dev" class="nav__button">Dev</a>
        <a href="/dict" class="nav__button">Dict</a>
        <a href="/stories" class="nav__button">Stories</a>
    </nav>
</header>
    <section id="container">
        <nav>
            <p>CATEGORY</p>
            <a href="../til">#TIL</a>
            <a href="../">#Writing</a>
            <a href="" class="current-link">#Archieve</a>
            <div id="nav-explanation">선배들의 지혜</div>
        </nav>
        <ol id="archieve-list">
            !@rows@!
        </ol>
        <hr>
        <ol id="archieve__link-list">
            <div class="archieve__link-block">
                <a href="https://zeddios.tistory.com">Zeddios</a>
                <p>iOS 처음 개발할 때 도움을 많이 받았다.</p>
            </div>
            <div class="archieve__link-block">
                <a href="https://brunch.co.kr/@cliche-cliche#articles">우디의 브런치</a>
                <p>디자인에 대한 재밌는 글이 많다.</p>
            </div>
            <div class="archieve__link-block">
                <a href="https://jojoldu.tistory.com">기억보단 기록을</a>
                <p>유튜브 '지방대 개발 비전공자가 배달의민족 리드 개발자가 되기까지' 속 개발자님의 블로그.</p>
                <p><a href="https://github.com/jojoldu/junior-recruit-scheduler">주니어 개발자를 위한 취업 정보</a>도 운영하신다.</p>
            </div>
            <div class="archieve__link-block">
                <a href="https://jobs.netflix.com/culture?lang=한국어">넷플릭스의 문화</a>
            </div>
            <div class="archieve__link-block">
                <a href="https://iamsang.com">이상현 IN 베를린</a>
            </div>
            <div class="archieve__link-block">
                <a href="https://ratsgo.github.io">ratsgo's blog</a>
            </div>
        </ol>
    </section>
</body>

</html>