<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ui.css">
    <title>YeolYi</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/ui.js"></script>
</head>

<body>
    <header>
    <a href="/" id="yeolyi-logo">YeolYi</a>
    <nav>
        <a href="/dev" class="nav__button">Dev</a>
        <a href="/dict" class="nav__button">Dict</a>
        <a href="/stories" class="nav__button">Stories</a>
    </nav>
</header>
    <section id="container">
        <nav>
            <p>CATEGORY</p>
            <a href="til">#TIL</a>
            <a href="archieve">#Archieve</a>
            <a href="" class="current-link">#Writing</a>
            <div id="nav-explanation">기록할만한 지난 경험들</div>
        </nav>
        <ol id="post-list">
            !@rows@!
        </ol>
        <!--
    <div id="post-nav">
      <button id="post-nav-prev">Prev</button>
      <button id="post-nav-next">Next</button>
    </div>
-->
    </section>
</body>

</html>